<%= simple_form_for @client do |form| %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="form-group">
      <%= form.input :name, label: "Nombre", class: "form-control text-center" %>
      <br/>
      <%= form.button :submit %>
    </div>
  </div>
</div>
<% end %>
