<h1 class"h1r">Orders</h1>

<br/><br/>

<div>
  <div>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Direction</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <% if @orders.present? %>
          <% @orders.each do |order| %>
            <tr>
              <td>
                <%= order.direction %>
              </td>
              <td>
                <%= order.date %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </table>
    <div>
      <p>
        <%= link_to 'New order', new_orders_path, class: "btn btn-outline-primary" %>
      </p>
    </div>
  </div>
</div>
