 // Custom bootstrap variables must be set or imported *before* bootstrap.
 @import "bootstrap";

 main {
   @extend .container;
   background-color: #eee;
   padding-bottom: 80px;
   padding-top: 20px;
   width: 100%;
   margin-top: 0px; // accommodate the navbar
 }
