<% if user_signed_in? %>
  <li class="nav-item">
    <%= link_to "Pedididos", orders_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Clientes", clients_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Reparto", "#", class: "nav-link" %>
  </li>
<% end %>
